<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Blockly CHaser</title>
  <link rel="icon" href="/images/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/menu.css' />
  <link rel='stylesheet' href='/stylesheets/animation.css' />
  <%- include('./common/config-init') %>
</head>
<body>
  <%- include('./common/config', {LNG: C_LNG}) %>
  
  <div class="header">
    
    <div class = "back_page">
      
    </div>
    <div class="control_area">
      <div class = "page_title">
        <h1><span class = "page_title_span">メニュー</span><%- title %></h1>
      </div>
      <div class = "control_button">
        <button id ="configButton" title="<%- LNG["CONFIG"] %>"></button>
      </div>
    </div>  
    
  </div>
  
  <div class="content">
    
    <div class="main">
      <div class = "left">
        <div class = "wrapper_l">
          <div class = "menu_tutorial">
            <a href="/menu-tutorial"></a>
            <div class = "menu_tutorial_info">
              <%- LNG["TUTORIAL_INFO"] %>
            </div>
            <div class = "menu_tutorial_title">
              チュートリアル
            </div>
            <div class = "menu_tutorial_title_en">
              Tutorial
            </div>
          </div>
        </div>
        <div class = "wrapper_l">
          <div class = "menu_programming">
            <a href="/menu-programming"></a>
            <div class = "menu_programming_info">
              <%- LNG["PROGRAMMING_INFO"] %>
            </div>
            <div class = "menu_programming_title">
              プログラミング
            </div>
            <div class = "menu_programming_title_en">
              Programming
            </div>
          </div>
        </div>
      </div>
      
      <div class= "right">
        <div class = "wrapper_r">
          <div class = "menu_watching">
            <a href="/menu-match"></a>
            <div class = "menu_watching_info">
              <%- LNG["MATCH_INFO"] %>
            </div>
            <div class = "menu_watching_title">
              <%- LNG["MATCH_TITLE"] %>
            </div>
            <div class = "menu_programming_title_en">
              Match
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</body>
</html>
