<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blockly CHaser</title>
  <link rel="icon" href="/images/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/menu.css' />
  <link rel='stylesheet' href='/stylesheets/menu-tutorial.css' />
  <link rel='stylesheet' href='/stylesheets/animation.css' />
  
  <%- include('./common/config-init') %>
  
  <script src="/javascripts/jquery-3.4.1.min.js"></script>

</head>
<body>
  
  <%- include('./common/config', {LNG: C_LNG}) %>

  <div class="header">
    
    <div class = "back_page">
      <div class = "back_button"><a href="../"></a></div>
    </div>
    <div class="control_area">
      <div class = "page_title">
        <h1><span class = "page_title_span">チュートリアル</span><%- title %></h1>
      </div>
      <div class = "control_button">
        <button id ="configButton" title="<%- LNG["CONFIG"] %>"></button>
      </div>
    </div>  
    
  </div>
  
  <div id="menu_area">
    <div id="satage_list">

    </div>
    <div id="satage_info">
      <div id="satage_map" class="display_off"></div>
      <div id="satage_info_condition" class="display_off">
        <span><%- LNG["CLEAR_CONDITION"] %></span>
        <div id="satage_info_hart" class="satage_info_data"><%- LNG["INFO_HART_B"] %><div id="satage_info_hart_data" class="satage_info_data_inline"></div><%- LNG["INFO_HART_A"] %></div>
        <div id="satage_info_put" class="satage_info_data"><%- LNG["INFO_PUT"] %></div>
        <div id="satage_info_block" class="satage_info_data"><%- LNG["INFO_BLOCK_B"] %><div id="satage_info_block_data" class="satage_info_data_inline"></div><%- LNG["INFO_BLOCK_A"] %></div>
        <div id="satage_info_turn" class="satage_info_data"><div id="satage_info_turn_data" class="satage_info_data_inline"></div><%- LNG["INFO_TURN"] %></div>
      </div>
      <div id="satage_join_div" class="display_off"></div>
    </div>
    <div id="satage_info_name" class="display_off"><div>
  </div>
  <script src="/javascripts/menu-tutorial.js"></script>

</body>
</html>